.header {
    background-color: rgba(28, 43, 53, 1);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}


.header a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    margin-right: 20px;
}

.header a:hover {
    color: orange;
}